<section id="intro" class="wrapper style1">
  <div class="title">Registration</div>
<div class="container">
 
    <h4>You are not an authorized user.</h4>
    <p>Please login with your company or with your "NIHusername@nih.gov" or "NIHusername@agency.nih.gov" credentials.</p>
    <p>Please contact chanaka.perera@companyinc.com if you would like to RSVP by email.</p>
        
    <a href="/auth/signout" style="color:blue;">Please click here to LOG OUT</a>
          
</div>
</section>